.Note {
  display: flex;
  flex-direction: column;
  position: relative;

  padding: 20px;
  margin: 20px;
  width: 200px;
  border-radius: 5px;
  background-color: rgb(235, 235, 106);
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.Note-timestamp{
  color: rgb(131, 130, 130);
  font-size: 10px;
  text-align: left;
}

.Note-title-container {
  border-bottom: 0.5px solid rgb(48, 48, 48);
  width: 100%;
}

.Note-title,
.Note-content {
  padding: 15px;
  color: rgb(48, 48, 48);
}

.Note-content {
  text-align: left;
}

.Note-delete-icon {
  position: absolute;
  bottom: 10px;
  font-size: 18px;
  transition: all 0.5s ease;

  color: rgb(151, 42, 42);
  bottom: 10px;
  right: 10px;
  font-size: 17px;
}

.Note-delete-icon:hover{
  transform: scale(1.1);
}

.Note-delete-icon:active {
  transform: scale(0.9);
}

