.AddNote {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px auto;
  padding: 10px;
  background-color: rgb(247, 247, 247);

  border-radius: 5px;
  width: 300px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.AddNote-title-container {
  border-bottom: 0.5px solid rgb(48, 48, 48);
}

.AddNote-textarea {
  resize: vertical;
}

.AddNote-input-title,
.AddNote-textarea {
  padding: 15px 0;
  border: none;
  outline: none;
  background-color: rgb(247, 247, 247);
  width: 100%;
}

.AddNote-content {
  text-align: left;
}

.AddNote-add-btn {
  background-color: transparent;
  border: none;
  outline: transparent;
  margin: 5px auto;
  transition: transform 0.5s ease;
}

.AddNote-add-icon {
  color: green;
  font-size: 23px;
}

.AddNote-add-btn:focus {
  outline: 2px solid rgb(48, 48, 48);
  height: 30px;
  width: 30px;
  padding-top: 1px;
}

.AddNote-add-btn:focus,
.AddNote-add-btn:hover {
  transform: scale(1.2);
}

.AddNote-add-btn:active {
  transform: scale(0.9);
}
